<header class="row flex-wrap py-3 mb-4 border-bottom">
    <div class="col-md-6 text-first">
        <h3>
            <%= title %>
        </h3>
        <p class="mb-0">
            <%= info %>
        </p>
    </div>
    <div class="col-md-6 text-end">
        <% if (!isLoggedin) {%>
            <a class="btn btn-outline-primary" href="/login">ログイン</a> <!--ログインしたらようこそ〇〇さんに切り替える-->
            <% } else { %>
                <a class="btn btn-primary" href="/cart">カート</a>
                <a href="/logout/">ログアウト</a>
                <% } %>
    </div>
</header>